# Auto detect text files and perform LF normalization
* text=auto

# Python files
*.py text=auto eol=lf

# Markdown files
*.md text=auto eol=lf

# Configuration files
*.json text=auto eol=lf
*.yml text=auto eol=lf
*.yaml text=auto eol=lf

# Map files
*.map text=auto eol=lf
